.bgImg {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    /* place-items: center; */
    border-bottom: 20px solid #1fb622;  
}

.abtHeading {
    font-size: 7rem;
    color: white;
    padding: 100px 0;
    /* text-align: center; */
    margin-left: 10%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}


.shadow {
    
    text-shadow:
      0 1px #808d93,
      -1px 0 #cdd2d5,
      -1px 2px #808d93,
      -2px 1px #cdd2d5,
      -2px 3px #808d93,
      -3px 2px #cdd2d5,
      -3px 4px #808d93,
      -4px 3px #cdd2d5,
      -4px 5px #808d93,
      -5px 4px #cdd2d5,
      -5px 6px #808d93,
      -6px 5px #cdd2d5,
      -6px 7px #808d93,
      -7px 6px #cdd2d5,
      -7px 8px #808d93,
      -8px 7px #cdd2d5;
  }


 /* ABOUTS US SECTION  */


 .imgContainer{
     display: flex;
 }

 #aboutUs{
     margin: 100px;
 }

 .imgContainer{
     justify-content: center;
     border-bottom: 5px solid #1fb622;
 }

 .personalInfo{
     text-align: center;
     padding: 20px;
 }

 .personalPic{
     height: 300px;
     border-radius: 10px;
 }

 .picName{
     font-family: 'Inter', sans-serif;
     font-size: 1.5rem;
     font-weight: 900;
     margin: 0px;
     color: #1fb622;
     
 }

 .picUni{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.social__icon>a>i{
    color: #1fb622;
    padding: 0 10px;
    font-size: 1.7rem;
}
